html {
  font-size: 10px;
  font-family: Jost;
  font-weight: 400;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

h2 {
  color: #1E1E1E;
  font-weight: 500;
  font-size: calc(1.563vw + 30px);
  text-transform: uppercase;
}

button span {
  display: block;
}

.main-block {
  margin-bottom: calc(2.083vw + 80px);
}

.main-block__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(1.042vw + 20px);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 83.854vw;
  max-width: 1610px;
  padding: 0 15px;
  margin: 0 auto;
}

.button-anim {
  border-radius: 30px;
  overflow: hidden;
}
.button-anim span {
  display: block;
}
.button-anim .button-text {
  border-radius: 30px;
  font-weight: 500;
  font-size: 1.6rem;
  width: calc(100% - 75px);
  text-transform: uppercase;
  padding: 20px 0;
  height: 60px;
  transition: all 0.3s;
}
.button-anim .button-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F0EEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: all 0.3s;
}
.button-anim .button-decor {
  position: absolute;
  z-index: 0;
  right: 48px;
  display: flex;
  align-items: center;
  height: 60px;
  overflow: hidden;
}
.button-anim .button-decor svg {
  transition: transform 0.2s ease;
  transform-origin: center;
}
.button-anim:hover .button-text {
  border-radius: 0 !important;
}
.button-anim:hover .button-arrow {
  border-radius: 0 !important;
}
.button-anim:hover .button-decor svg {
  transform: scale(1.5);
}

.button-wathc-all {
  color: #00582A;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(24, 24, 24, 0.03);
  border-radius: 32px;
  box-shadow: 0px 0px 16px -4px rgba(132, 132, 132, 0.6), inset 0px 1.5px 6px 0px rgb(255, 255, 255), inset 0px -2px 4px 0px rgba(137, 137, 137, 0.08);
  background: rgb(249, 249, 249);
  padding: 14px 0;
  transition: all 0.1s;
  width: 185px;
}
.button-wathc-all:hover .button-text {
  margin-right: 20px;
}
.button-wathc-all .button-text {
  transition: all 0.1s;
  margin-right: 10px;
}

.cart-button {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: transparent;
  border-radius: 30px;
  overflow: hidden;
}
.cart-button .button-text {
  border-radius: 30px;
  background-color: #F0EEEE;
  font-weight: 500;
  font-size: 1.6rem;
  color: #00582A;
  width: calc(100% - 75px);
  text-transform: uppercase;
  padding: 20px 0;
  height: 60px;
  transition: all 0.3s;
}
.cart-button .button-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F0EEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: all 0.3s;
}
.cart-button .button-decor {
  position: absolute;
  z-index: 0;
  right: 48px;
  display: flex;
  align-items: center;
  height: 60px;
  overflow: hidden;
}
.cart-button .button-decor svg {
  transition: transform 0.2s ease;
  transform-origin: center;
}
.cart-button:hover .button-text {
  border-radius: 0;
}
.cart-button:hover .button-arrow {
  border-radius: 0;
}
.cart-button:hover .button-decor svg {
  transform: scale(1.5);
}

.location {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: calc(0.521vw + 10px);
}
.location .location-slesh {
  margin: 0 5px;
}
.location .location-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input {
  border-radius: 30px;
  padding: 20px;
  font-size: 1.6rem;
  box-shadow: inset 11px -6px 20px 0px rgba(0, 0, 0, 0.1);
}
.input::-moz-placeholder {
  color: #909090;
  font-size: 1.6rem;
}
.input::placeholder {
  color: #909090;
  font-size: 1.6rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.637);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.2s;
}

.overlay--active {
  z-index: 5;
  opacity: 100;
}

.call-request {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}
.call-request .call-request__inner {
  position: relative;
  padding: 44px 30px 35px 30px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 45px 45px 80px 0px rgba(0, 0, 0, 0.03), -35px -14px 85px 0px rgba(0, 0, 0, 0.05);
  min-width: 400px;
}
.call-request .call-request__inner .call-request__cross {
  position: absolute;
  top: -50px;
  right: 0px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.call-request .call-request__inner .call-request__cross::after {
  width: 2px;
  height: 30px;
  background-color: white;
  border-radius: 4px;
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  transform: rotate(-45deg);
}
.call-request .call-request__inner .call-request__cross::before {
  width: 2px;
  height: 30px;
  background-color: white;
  border-radius: 4px;
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  transform: rotate(45deg);
}
.call-request .call-request__inner .call-request__title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem;
  max-width: 340px;
  padding-bottom: 14px;
}
.call-request .call-request__inner .call-request__form {
  display: flex;
  flex-direction: column;
}
.call-request .call-request__inner .call-request__form input {
  margin-bottom: 15px;
}
.call-request .call-request__inner .call-request__form .call-request__input-message {
  height: 110px;
}
.call-request .call-request__inner .call-request__form .call-request__input-message::-moz-placeholder {
  position: absolute;
  top: 19px;
}
.call-request .call-request__inner .call-request__form .call-request__input-message::placeholder {
  position: absolute;
  top: 19px;
}
.call-request .call-request__inner .call-request__form select {
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 20px;
  color: #909090;
  appearance: none;
  /* Chrome, Safari */
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  background: white url("../img/select-arrow.svg") no-repeat right 20px center;
  box-shadow: inset 11px -6px 20px 0px rgba(0, 0, 0, 0.1);
}
.call-request .call-request__inner .call-request__form .call-request__time {
  font-size: 1.6rem;
}
.call-request .call-request__inner .call-request__form #call-request__time {
  margin-bottom: 25px;
  max-width: 120px;
  padding: 10px;
  margin-top: 10px;
}
.call-request .call-request__inner .call-request__form .call-request__button {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: transparent;
  border-radius: 30px;
  overflow: hidden;
}
.call-request .call-request__inner .call-request__form .call-request__button .button-text {
  border-radius: 30px;
  background-color: #00582A;
  font-weight: 500;
  font-size: 1.6rem;
  color: #F0EEEE;
  width: calc(100% - 75px);
  text-transform: uppercase;
  padding: 20px 0;
  height: 60px;
  transition: all 0.3s;
}
.call-request .call-request__inner .call-request__form .call-request__button .button-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00582A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: all 0.3s;
}
.call-request .call-request__inner .call-request__form .call-request__button .button-decor {
  position: absolute;
  z-index: 0;
  right: 48px;
  display: flex;
  align-items: center;
  height: 60px;
  overflow: hidden;
}
.call-request .call-request__inner .call-request__form .call-request__button .button-decor svg {
  transition: transform 0.2s ease;
  transform-origin: center;
}
.call-request .call-request__inner .call-request__form .call-request__button:hover .button-text {
  border-radius: 0;
}
.call-request .call-request__inner .call-request__form .call-request__button:hover .button-arrow {
  border-radius: 0;
}
.call-request .call-request__inner .call-request__form .call-request__button:hover .button-decor svg {
  transform: scale(1.5);
}
.call-request .call-request__privacy {
  max-width: 340px;
  color: #909090;
}
.call-request .call-request__privacy a {
  text-decoration: underline;
}

.call-request--active {
  display: block;
}

.header {
  position: relative;
  z-index: 4;
}

.header-top__wrapper {
  background-color: #F2F2F2;
  padding: 2px 0 3px 0;
  font-family: Jost;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top .header-top__nav .header-top__nav-list {
  display: flex;
  align-items: center;
}
.header-top .header-top__nav .header-top__nav-list .header-top__nav-item {
  margin-right: 1.823vw;
}
.header-top .header-top__nav .header-top__nav-list .header-top__nav-item .header-top__nav-link {
  color: #7C7C7C;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 0.1s;
}
.header-top .header-top__nav .header-top__nav-list .header-top__nav-item .header-top__nav-link:hover {
  color: #00582A;
}
.header-top .header-top__nav .header-top__nav-list .header-top__nav-item .header-top__nav-link:active {
  color: #7C7C7C;
}
.header-top .header-top__phone-wrapper {
  display: flex;
  align-items: center;
}
.header-top .header-top__phone-wrapper .header-top__phone-inner {
  background-color: #00582A;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 30px;
  width: 35px;
  transition: all 0.2s;
}
.header-top .header-top__phone-wrapper .header-top__phone-inner .header-top__phone-text {
  transform: translateX(15px);
  display: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-top .header-top__phone-wrapper .header-top__phone-inner .header-top__phone-svg {
  margin-left: auto;
}
.header-top .header-top__phone-wrapper .header-top__phone-inner--active {
  width: 165px;
  transition: all 0.2s;
}
.header-top .header-top__phone-wrapper .header-top__phone-number {
  color: #00582A;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 10px;
}

.header-main {
  background-color: white;
}

.header-main__inner {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-main__inner .header-main__logo {
  width: 193px;
  height: 73px;
}
.header-main__inner .header-main__logo img,
.header-main__inner .header-main__logo svg {
  width: 100%;
  height: 100%;
}
.header-main__inner .header-main__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../img/search-bugger.svg) center no-repeat;
  padding: 10px;
  border-radius: 30px;
  width: 598px;
}
.header-main__inner .header-main__search input {
  font-size: 1.6rem;
  background-color: transparent;
  width: 80%;
}
.header-main__inner .header-main__search input::-moz-placeholder {
  color: #909090;
}
.header-main__inner .header-main__search input::placeholder {
  color: #909090;
}
.header-main__inner .header-main__search .header-main__search-svg {
  cursor: pointer;
}
.header-main__inner .header-main__phone {
  display: none;
}
.header-main__inner .header-main__links {
  display: flex;
  align-items: center;
}
.header-main__inner .header-main__links .header-main__link-fav {
  margin: 0 10px 0 15px;
}
.header-main__inner .header-main__links .header-main__link {
  position: relative;
}
.header-main__inner .header-main__links .header-main__link:hover svg path {
  stroke: #00582A;
  stroke-width: 3;
}
.header-main__inner .header-main__links .header-main__link .cart-number {
  position: absolute;
  top: -9px;
  right: -6px;
  border-radius: 10px;
  background-color: #00582A;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5px 8px;
  white-space: nowrap;
}
.header-main__inner .header-main__links .catalog-main {
  border-radius: 50%;
  background-color: #00582A;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  cursor: pointer;
  display: none;
}
.header-main__inner .header-main__links .catalog-main .catalog-text {
  color: white;
  font-size: 1.6rem;
  position: relative;
  display: none;
}
.header-main__inner .header-main__links .catalog-main .catalog-text::before {
  position: absolute;
  right: -11px;
  top: 40%;
  content: "";
  width: 2px;
  height: 20px;
  border-radius: 4px;
  background-color: white;
  transform: rotate(45deg) translateY(-50%);
}
.header-main__inner .header-main__links .catalog-main .catalog-text::after {
  position: absolute;
  right: -24px;
  top: 40%;
  content: "";
  width: 2px;
  height: 20px;
  border-radius: 4px;
  background-color: white;
  transform: rotate(-45deg) translateY(-50%);
}
.header-main__inner .header-main__links .catalog-main img {
  width: 25px;
  height: 25px;
}
.header-main__inner .header-main__links .catalog-main--active {
  justify-content: flex-start;
  width: 130px;
  height: 50px;
  border-radius: 30px;
}
.header-main__inner .header-main__links .catalog-main--active img {
  display: none;
}
.header-main__inner .header-main__links .catalog-main--active .catalog-text {
  display: block;
  margin-left: 42%;
  transform: translateX(-50%);
}
.header-main__inner .header-main__catalog {
  display: none;
}

.header-main__inner--catalog {
  height: 89px;
}
.header-main__inner--catalog .header-main__logo {
  display: none;
}
.header-main__inner--catalog .header-main__phone {
  display: none !important;
}
.header-main__inner--catalog .header-main__links {
  width: 100%;
}
.header-main__inner--catalog .header-main__links .header-main__link {
  display: none;
}
.header-main__inner--catalog .header-main__links .catalog-main {
  margin-left: auto;
}

.header-bot {
  box-shadow: -4px 4px 25px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.catalog-search {
  display: flex;
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 90px;
  width: 100%;
  position: relative;
  z-index: 1;
  display: none;
}
.catalog-search .search-img {
  border-radius: 50%;
  background-color: #f9f9f9;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.catalog-search .search-decor {
  position: absolute;
  z-index: 0;
  right: 38px;
  display: flex;
  align-items: center;
  transition: all 0.1s;
  height: 50px;
}
.catalog-search .search-text {
  background-color: #f9f9f9;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  width: calc(100% - 65px);
}
.catalog-search .search-text .search-input {
  padding-left: 15px;
  width: 80%;
  font-size: 1.6rem;
  background-color: transparent;
  margin-right: auto;
}

.catalog-menu {
  opacity: 0;
  background-color: white;
  position: absolute;
  top: 40px;
  left: 50%;
  width: 82.292vw;
  max-width: 1580px;
  padding: 20px 15px;
  margin: 0 auto;
  z-index: -1;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 4px 42.2px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  transform: translate(-50%, -500px);
}
.catalog-menu .catalog-menu__title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  display: none;
}
.catalog-menu .catalog-menu__left {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  margin-right: 30px;
  -moz-column-gap: 6.042vw;
       column-gap: 6.042vw;
  width: 100%;
}
.catalog-menu .catalog-menu__left .catalog-menu__block:last-child {
  grid-column: 3;
  grid-row: 2;
}
.catalog-menu .catalog-menu__left .catalog-menu__block:last-child .catalog-menu__block-title {
  padding: 8px 15px;
}
.catalog-menu .catalog-menu__left .catalog-menu__block .catalog-menu__block-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 12px;
  text-transform: uppercase;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog-menu .catalog-menu__left .catalog-menu__block .catalog-menu__block-title .title-decor {
  display: none;
}
.catalog-menu .catalog-menu__left .catalog-menu__block .catalog-menu__block-title-link--active {
  color: #00582A;
  border-radius: 15px;
  box-shadow: inset 0px 4px 7px 0px rgba(195, 195, 195, 0.25);
  background: rgb(240, 240, 240);
}
.catalog-menu .catalog-menu__left .catalog-menu__block .catalog-menu__block-list .catalog-menu__block-item {
  margin-bottom: 12px;
}
.catalog-menu .catalog-menu__left .catalog-menu__block .catalog-menu__block-list .catalog-menu__block-item .catalog-menu__block-link {
  font-size: 1.6rem;
}
.catalog-menu .catalog-menu__left .catalog-menu__block .catalog-menu__block-list .catalog-menu__block-item .catalog-menu__block-link:hover {
  color: #00582A;
}
.catalog-menu .catalog-menu__right {
  width: 100%;
}
.catalog-menu .catalog-menu__right .catalog-menu__right-img-wrapper {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 20px;
  min-height: 250px;
  width: 100%;
  display: block;
}
.catalog-menu .catalog-menu__right .catalog-menu__right-img-wrapper:last-child {
  margin-bottom: 0;
}
.catalog-menu .catalog-menu__right .catalog-menu__right-img-wrapper .catalog-menu__right-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
.catalog-menu .catalog-menu__right .catalog-menu__right-img-wrapper .catalog-menu__img-text {
  font-size: 2.5rem;
}
.catalog-menu .catalog-menu__right .catalog-menu__right-img-wrapper .catalog-menu__img-title {
  font-size: 4.5rem;
}
.catalog-menu--active {
  opacity: 1;
  transform: translate(-50%, 126px);
  z-index: 3;
}

.header-bot__inner {
  padding: 4px 0;
}
.header-bot__inner .header-bot__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bot__inner .header-bot__list .header-bot__item .header-bot__link-catalog {
  background-color: #00582A;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  padding: 3px;
  height: 42px;
  padding: 3px;
}
.header-bot__inner .header-bot__list .header-bot__item .header-bot__link-catalog .catalog-arrow {
  border-radius: 50%;
  background-color: white;
  margin-right: 13px;
  transition: all 0.1s;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-bot__inner .header-bot__list .header-bot__item .header-bot__link-catalog .catalog-arrow--active {
  transform: rotate(-90deg);
}
.header-bot__inner .header-bot__list .header-bot__item .header-bot__link-catalog .catalog-text {
  padding-right: 16px;
}
.header-bot__inner .header-bot__list .header-bot__item .header-bot__link {
  font-size: 2rem;
  transition: all 0.1s;
}
.header-bot__inner .header-bot__list .header-bot__item:nth-child(n+2) .header-bot__link:hover {
  color: #00582A;
}
.header-bot__inner .header-bot__list .header-bot__item:nth-child(n+2) .header-bot__link:active {
  color: black;
}

@media (max-width: 1400px) {
  .container {
    width: initial;
    max-width: 1160px;
  }
}
@media (max-width: 1230px) {
  .header {
    position: fixed;
    width: 100%;
  }
  .main {
    margin-top: 89px !important;
  }
  .catalog-menu__right {
    display: none;
  }
  .catalog-search {
    display: flex;
    margin-top: 0;
  }
  .catalog-menu {
    overflow: scroll;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(85px);
    display: block;
    max-width: none;
  }
  .catalog-menu .catalog-menu__title {
    display: block;
    margin-bottom: 30px;
  }
  .catalog-menu .catalog-menu__left {
    display: flex;
    flex-direction: column;
    padding-bottom: 109px;
  }
  .catalog-menu .catalog-menu__left .catalog-menu__block:last-child .catalog-menu__block-title {
    padding: 0 0 12px 0;
  }
  .catalog-menu .catalog-menu__left .catalog-menu__block .catalog-menu__block-title {
    cursor: pointer;
    padding-bottom: 12px;
    border-bottom: 1px solid #DADADA;
  }
  .catalog-menu .catalog-menu__left .catalog-menu__block .catalog-menu__block-title .title-decor {
    display: flex;
    transition: all 0.2s;
  }
  .catalog-menu .catalog-menu__left .catalog-menu__block .catalog-title__acc--active img {
    transform: rotate(180deg);
  }
  .catalog-menu .catalog-menu__left .catalog-menu__block .catalog-menu__block-title--active {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    color: initial;
  }
  .catalog-menu .catalog-menu__left .catalog-menu__block .catalog-menu__block-title--active .title-decor {
    transform: rotate(180deg);
  }
  .catalog-menu .catalog-menu__left .catalog-menu__block .catalog-menu__block-list {
    display: none;
  }
  .catalog-menu--active {
    position: fixed;
  }
  .header-main__inner .header-main__links .catalog-main {
    display: flex;
  }
  .header-top {
    display: none;
  }
  .header-top__wrapper {
    padding: 0;
  }
  .header-main {
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
    background: rgb(249, 249, 249);
  }
  .header-main__inner .header-main__search {
    display: none;
  }
  .header-main__inner .header-main__phone {
    display: flex;
    align-items: center;
  }
  .header-main__inner .header-main__phone .header-main__phone-icon {
    margin-right: 6px;
    cursor: pointer;
  }
  .header-main__inner .header-main__phone .header-main__phone-number {
    color: #00582A;
    font-weight: 500;
    font-size: 1.4rem;
  }
  .header-main__inner .header-main__catalog {
    background-color: #00582A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .header-bot__inner {
    display: none;
  }
}
@media (max-width: 900px) {
  .catalog-menu .catalog-menu__left {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .catalog-menu {
    padding: 20px 10px;
    transform: translateY(60px);
  }
  .call-request {
    width: 80%;
  }
  .call-request .call-request__inner {
    padding: 5.729vw 3.906vw 4.557vw 3.906vw;
    min-width: auto;
  }
  .call-request .call-request__inner .call-request__cross {
    top: calc(-3.25vw - 25px);
  }
  .call-request .call-request__inner .call-request__form input {
    margin-bottom: 1.953vw;
    padding: calc(1.302vw + 10px);
  }
  .call-request .call-request__inner .call-request__form .call-request__time {
    margin-bottom: 3.255vw;
  }
  .call-request .call-request__inner .call-request__title {
    font-size: 2rem;
  }
  .call-request .call-request__inner .call-request__button {
    background: #00582A;
    justify-content: space-around;
  }
  .call-request .call-request__inner .call-request__button div {
    margin: 0;
  }
  .header-top {
    display: none;
  }
  .header-main__inner .header-main__logo {
    display: block;
    width: 140px;
    height: 54px;
  }
  .header-main__inner .header-main__logo img {
    width: 100%;
  }
  .header-main__inner .header-main__search {
    display: none;
  }
  .header-main__inner .header-main__links {
    display: none;
  }
  .header-bot {
    display: none;
  }
}/*# sourceMappingURL=header.css.map */