.location {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: calc(0.521vw + 10px);
}
.location .location-slesh {
  margin: 0 5px;
}

.main {
  margin-top: 20px;
}

.main-title {
  margin-bottom: 40px;
}

.main-block-1 {
  position: relative;
  margin-bottom: 123px;
}
.main-block-1 .main-block-1__left {
  max-width: 700px;
}
.main-block-1 .main-block-1__title {
  font-size: calc(1.042vw + 1.5rem);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-block-1 .main-block-1__text {
  margin-bottom: 30px;
  font-size: 1.6rem;
}
.main-block-1 .main-block-1__text .main-block-1__text-item {
  display: block;
  margin-bottom: 15px;
}
.main-block-1 .main-block-1__blocks .main-block-1__blocks-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.main-block-1 .main-block-1__blocks .main-block-1__blocks-inner {
  display: flex;
  align-items: center;
}
.main-block-1 .main-block-1__blocks .main-block-1__blocks-inner .main-block-1__blocks-block {
  margin-right: calc(1.042vw + 20px);
}
.main-block-1 .main-block-1__blocks .main-block-1__blocks-inner .main-block-1__blocks-block:last-child {
  margin-right: 0;
}
.main-block-1 .main-block-1__right .main-block-1__right-img {
  position: absolute;
  bottom: -150px;
  right: -8.594vw;
  width: 36.458vw;
  max-width: 700px;
}
.main-block-1 .main-block-1__right .main-block-1__right-img img {
  width: 100%;
}

.main-block-2 {
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(0, 77, 37, 0.7), rgba(0, 77, 37, 0.7)), url("../img/about-block-2.png"), center, no-repeat;
  background-size: 150%;
  background-position: center;
  margin-bottom: 350px;
}

.running-stroke__wrapper {
  position: absolute;
  top: -45px;
  width: 100%;
}

.running-stroke {
  background-color: #00582A;
  padding: 3px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 45px;
}
.running-stroke .running-stroke__track {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  will-change: transform;
}
.running-stroke .running-stroke__item {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.running-stroke .running-stroke__text {
  font-weight: 500;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
}
.running-stroke .running-stroke__decor {
  background-color: white;
  width: 10px;
  height: 10px;
  margin-left: 20px;
}

.main-block-2__inner {
  padding: 50px 0;
}
.main-block-2__inner .main-block-2__grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(240px, 380px));
  gap: 30px;
}
.main-block-2__inner .main-block-2__grid .main-block-2__grid-item {
  max-width: 380px;
  color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: inset 0px 4px 27.4px 0px rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.25);
}
.main-block-2__inner .main-block-2__grid .main-block-2__grid-item:nth-child(3) {
  grid-row: 2;
  grid-column: 1;
}
.main-block-2__inner .main-block-2__grid .main-block-2__grid-item .grid-item__number {
  font-weight: 500;
  font-size: 6rem;
}
.main-block-2__inner .main-block-2__grid .main-block-2__grid-item .grid-item__title {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 500;
}
.main-block-2__inner .main-block-2__grid .main-block-2__grid-item .grid-item__description {
  font-size: 1.6rem;
}
.main-block-2__inner .main-block-2__grid .grid-item__text {
  max-width: none;
  color: white;
  text-transform: uppercase;
  font-size: calc(1.563vw + 30px);
  font-weight: 500;
  background-color: transparent;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  box-shadow: none;
  white-space: nowrap;
  grid-row: 2;
  grid-column: 2/span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-block-2__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.main-block-2__flex-wrapper .main-block-2__flex {
  display: inline-flex;
}
.main-block-2__flex-wrapper .main-block-2__flex .main-block-2__flex-item {
  color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: inset 0px 4px 27.4px 0px rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.25);
  margin-right: 30px;
}
.main-block-2__flex-wrapper .main-block-2__flex .main-block-2__flex-item .flex-item__number {
  line-height: 80%;
  font-weight: 500;
  font-size: 6rem;
}
.main-block-2__flex-wrapper .main-block-2__flex .main-block-2__flex-item .flex-item__title {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 500;
}
.main-block-2__flex-wrapper .main-block-2__flex .main-block-2__flex-item .flex-item__description {
  font-size: 1.6rem;
}
.main-block-2__flex-wrapper .main-block-2__flex-1 {
  margin-bottom: 30px;
  margin-left: auto;
}
.main-block-2__flex-wrapper .main-block-2__flex-1 .main-block-2__flex-item-1 {
  max-width: 350px;
}
.main-block-2__flex-wrapper .main-block-2__flex-2 .main-block-2__flex-item-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 500px;
}
.main-block-2__flex-wrapper .main-block-2__flex-2 .main-block-2__flex-item-2 .flex-item-2__inner {
  max-width: 326px;
}
.main-block-2__flex-wrapper .main-block-2__flex-2 .main-block-2__flex-item-2 .flex-item-2__inner .flex-item__title {
  margin-top: 0;
  margin-right: 46px;
}
.main-block-2__flex-wrapper .main-block-2__flex-2 .main-block-2__flex-item-2 .flex-item__number {
  margin-top: 0;
  margin-right: 46px;
}

.swiper-slide-1 {
  display: none;
}

.main-block-2__title {
  display: none;
}

.main-block-2__orange {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  background-color: #E77334;
  color: white;
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  box-shadow: inset -2px -9px 27.9px 0px rgba(126, 51, 19, 0.45);
  padding: 50px 0;
}
.main-block-2__orange .main-block-2__orange-title {
  margin-bottom: 25px;
  font-size: calc(1.302vw + 2.5rem);
}
.main-block-2__orange .main-block-2__orange-text {
  margin: 0 auto;
  font-size: calc(0.521vw + 1rem);
  max-width: 1014px;
}

.main-block-3 {
  margin-bottom: calc(2.604vw + 50px);
}

.main-block-3__inner {
  border: solid white 3px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 8px 0px rgba(255, 255, 255, 0.15);
  background: rgb(249, 249, 249);
  width: 100%;
  padding: calc(0.781vw + 15px);
  display: flex;
  justify-content: space-between;
}
.main-block-3__inner .main-block-3__title {
  font-weight: 500;
  font-size: calc(0.885vw + 18px);
  margin-bottom: calc(0.99vw + 19px);
  text-transform: uppercase;
}
.main-block-3__inner .main-block-3__right-title {
  text-align: right;
}
.main-block-3__inner .main-block-3__left {
  width: 55%;
  margin-right: 36px;
}
.main-block-3__inner .main-block-3__right {
  width: 45%;
}
.main-block-3__inner .main-block-3__left-main,
.main-block-3__inner .main-block-3__right-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-family: monospace;
  position: relative;
  margin-bottom: 16px;
}
.main-block-3__inner .main-block-3__left-main::before,
.main-block-3__inner .main-block-3__right-main::before {
  content: "................................................................................................................................";
  position: absolute;
  left: 0;
  right: 0;
  color: #999;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
}
.main-block-3__inner .main-block-3__left-main span,
.main-block-3__inner .main-block-3__right-main span {
  background: rgb(249, 249, 249);
  position: relative;
  z-index: 1;
  padding: 0 4px;
}
.main-block-3__inner .main-block-3__left-main span:first-child,
.main-block-3__inner .main-block-3__right-main span:first-child {
  margin-right: 15px;
}
.main-block-3__inner .main-block-3__left-main span:last-child,
.main-block-3__inner .main-block-3__right-main span:last-child {
  text-align: right;
}

@media (max-width: 900px) {
  .main-block-1 .main-block-1__right .main-block-1__right-img {
    position: absolute;
    bottom: -150px;
    right: -77px;
    width: 328px;
  }
  .main-block-1 .main-block-1__right .main-block-1__right-img img {
    width: 100%;
  }
  .main-block-2__inner .main-block-2__grid {
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(auto-fit, minmax(157px, 380px));
    gap: 20px;
  }
  .main-block-2__inner .main-block-2__grid .main-block-2__grid-item:nth-child(1) {
    grid-column: 1;
    grid-row: 3;
  }
  .main-block-2__inner .main-block-2__grid .main-block-2__grid-item:nth-child(2) {
    grid-column: 2;
    grid-row: 3;
  }
  .main-block-2__inner .main-block-2__grid .main-block-2__grid-item:nth-child(3) {
    grid-column: 1;
    grid-row: 4;
  }
  .main-block-2__inner .main-block-2__grid .main-block-2__grid-item:nth-child(4) {
    grid-column: 1;
    grid-row: 1/span 2;
    width: 512px;
    text-align: start;
    padding-left: 0;
    white-space: pre-wrap;
  }
  .main-block-2__inner .main-block-2__grid .main-block-2__grid-item:nth-child(4) span {
    text-align: start;
    margin-right: auto;
  }
  .main-block-2__flex-wrapper .main-block-2__flex-1,
  .main-block-2__flex-wrapper .main-block-2__flex-2 {
    transform: translateY(-213px);
    display: grid;
    gap: 2.222vw;
    grid-template-columns: repeat(auto-fit, minmax(157px, 380px));
    grid-template-rows: auto auto;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: auto;
    width: 100%;
  }
  .main-block-2__flex-wrapper .main-block-2__flex-1 .main-block-2__flex-item-1,
  .main-block-2__flex-wrapper .main-block-2__flex-1 .main-block-2__flex-item-2,
  .main-block-2__flex-wrapper .main-block-2__flex-2 .main-block-2__flex-item-1,
  .main-block-2__flex-wrapper .main-block-2__flex-2 .main-block-2__flex-item-2 {
    width: 42.222vw;
    min-width: 42.222vw;
    max-width: 42.222vw;
    margin-right: 0;
  }
  .main-block-2__flex-wrapper .main-block-2__flex-1 .main-block-2__flex-item-1:nth-child(1),
  .main-block-2__flex-wrapper .main-block-2__flex-1 .main-block-2__flex-item-2:nth-child(1),
  .main-block-2__flex-wrapper .main-block-2__flex-2 .main-block-2__flex-item-1:nth-child(1),
  .main-block-2__flex-wrapper .main-block-2__flex-2 .main-block-2__flex-item-2:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
  .main-block-2__flex-wrapper .main-block-2__flex-1 .main-block-2__flex-item-1:nth-child(2),
  .main-block-2__flex-wrapper .main-block-2__flex-1 .main-block-2__flex-item-2:nth-child(2),
  .main-block-2__flex-wrapper .main-block-2__flex-2 .main-block-2__flex-item-1:nth-child(2),
  .main-block-2__flex-wrapper .main-block-2__flex-2 .main-block-2__flex-item-2:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .main-block-2__flex-wrapper .main-block-2__flex-2 {
    transform: translateY(-400px);
  }
  .main-block-2__flex-wrapper .main-block-2__flex-2 .main-block-2__flex-item-2 {
    display: block;
  }
}
@media (max-width: 768px) {
  .main-block-3__inner {
    display: block;
  }
  .main-block-3__inner .main-block-3__left,
  .main-block-3__inner .main-block-3__right {
    width: 100%;
  }
  .main-block-3__inner .main-block-3__left .main-block-3__title,
  .main-block-3__inner .main-block-3__right .main-block-3__title {
    text-align: left;
  }
  .main-block-3__inner .main-block-3__left {
    margin-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .main-block-1 {
    margin-bottom: 25px;
  }
  .main-block-1 .main-block-1__right {
    display: flex;
    justify-content: end;
    transform: translateX(10px);
  }
  .main-block-1 .main-block-1__right .main-block-1__right-img {
    position: unset;
  }
  .main-block-1 .main-block-1__right .main-block-1__right-img img {
    width: 100%;
  }
  .main-block-2 {
    height: 500px;
    padding-top: 51px;
  }
  .main-block-2__inner {
    display: none;
  }
  .main-block-2__title {
    color: white;
    margin-bottom: 30px;
    display: initial;
  }
  .swiper {
    overflow: visible;
    margin-top: 30px;
  }
  .swiper-slide-1 {
    height: 246px;
    display: initial;
    max-width: 380px;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: inset 0px 4px 27.4px 0px rgba(255, 255, 255, 0.65);
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.25);
  }
  .swiper-slide-1 .swiper-slide__number {
    font-weight: 500;
    font-size: 6rem;
  }
  .swiper-slide-1 .swiper-slide__title {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;
  }
  .swiper-slide-1 .swiper-slide__description {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style-about.css.map */