.location {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: calc(0.521vw + 10px);
}
.location .location-slesh {
  margin: 0 5px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top .top-right .top-right__title {
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.top .top-right .top-right__text {
  font-size: 1.6rem;
}
.top .top-right .top-right__text span {
  display: block;
  margin-bottom: 20px;
}
.top .top-left__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4.167vw;
  border-radius: 15px;
  box-shadow: inset 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
}

.main {
  margin-top: 20px;
}

.main-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  margin-left: auto;
}

.filter,
.category {
  display: inline-flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 30px;
  box-shadow: inset -4px 4px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgb(249, 249, 249);
}
.filter .filter-text,
.filter .category-text,
.category .filter-text,
.category .category-text {
  margin: 0 6px;
  font-size: 1.4rem;
}
.filter .filter-arrow,
.filter .category-arrow,
.category .filter-arrow,
.category .category-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category {
  left: 0;
  right: auto;
  padding: 13px 16px;
  display: none;
}

.right-top {
  margin-bottom: 46px;
}

.right-top__result {
  font-size: 1.6rem;
  color: #909090;
  margin-bottom: 21px;
}

.right-top__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-top__inner .right-top__left {
  display: flex;
  align-items: center;
}
.right-top__inner .right-top__left .right-top__text {
  font-size: 1.6rem;
  margin-right: 20px;
}
.right-top__inner .right-top__left .right-top__var {
  color: #909090;
  font-size: 2rem;
  margin-right: 15px;
}
.right-top__inner .right-top__left .right-top__var:last-child {
  margin-right: 0;
}
.right-top__inner .right-top__left .right-top__var--active {
  text-decoration: underline;
  font-weight: 600;
  color: black;
}
.right-top__inner .right-top__right {
  display: flex;
  align-items: center;
}
.right-top__inner .right-top__right .right-top__right-text {
  font-size: 1.6rem;
  margin-right: 20px;
}
.right-top__inner .right-top__right .right-top__right-var {
  margin-right: 20px;
  cursor: pointer;
}
.right-top__inner .right-top__right .right-top__right-var:last-child {
  margin-right: 0;
}
.right-top__inner .right-top__right .right-top__right-var--active svg rect {
  fill: #00582A;
}

.right-main__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.right-main__grid--lines {
  grid-template-columns: 1fr !important;
}
.right-main__grid--lines .grid-item {
  display: flex;
  max-height: 300px;
}
.right-main__grid--lines .grid-item .slide-best-heart {
  bottom: 20px;
  top: auto;
}
.right-main__grid--lines .grid-item .grid-item__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 25px;
}
.right-main__grid--lines .grid-item .grid-item__inner .slide-best-text {
  display: block;
}
.right-main__grid--lines .grid-item .grid-item__inner .slide-best-button {
  width: 260px;
}

.grid-item {
  width: auto;
  margin-right: 0;
  max-width: none;
  min-width: 0;
}

.swiper-slide-best {
  border-radius: 30px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.04), 0px 0px 20px 0px rgba(0, 0, 0, 0.04), 0px 35px 22px 0px rgba(0, 0, 0, 0.02), 1px 4px 0px 0px rgba(0, 0, 0, 0.01), 0px 20px 2px 0px rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  background: hsla(0, 0%, 100%, 0.95);
  padding: 10px 10px 20px 10px;
  position: relative;
}

.swiper-slide-best {
  border-radius: 30px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.04), 0px 0px 20px 0px rgba(0, 0, 0, 0.04), 0px 35px 22px 0px rgba(0, 0, 0, 0.02), 1px 4px 0px 0px rgba(0, 0, 0, 0.01), 0px 20px 2px 0px rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  background: rgba(255, 255, 255, 0.95);
  padding: 10px 10px 20px 10px;
  position: relative;
  min-width: 260px;
}
.swiper-slide-best img {
  width: 100%;
}
.swiper-slide-best .slide-best-heart {
  position: absolute;
  top: 38px;
  right: 34px;
  cursor: pointer;
}
.swiper-slide-best .slide-best-heart:hover svg path {
  fill: #00582A;
}
.swiper-slide-best .slide-best-discount {
  border-radius: 50%;
  background-color: #FFCF3D;
  font-size: calc(0.573vw + 11px);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(1.823vw + 35px);
  height: calc(1.823vw + 35px);
  position: absolute;
  top: 25px;
  left: 25px;
}
.swiper-slide-best .slide-best-button {
  width: 100%;
  position: relative;
  grid-column: 1/span 2;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: transparent;
}
.swiper-slide-best .slide-best-button .button-text {
  border-radius: 30px;
  background-color: #F0EEEE;
  font-weight: 500;
  font-size: 1.6rem;
  color: #00582A;
  width: calc(100% - 60px);
  text-transform: uppercase;
  padding: 14px 0;
  height: 50px;
}
.swiper-slide-best .slide-best-button .button-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F0EEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.swiper-slide-best .slide-best-button .button-arrow img {
  width: auto;
}
.swiper-slide-best .slide-best-button .button-decor {
  position: absolute;
  z-index: -1;
  right: 35px;
  display: flex;
  align-items: center;
}
.swiper-slide-best .slide-best-img {
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 260px;
}
.swiper-slide-best .slide-best-img img {
  height: 100%;
}
.swiper-slide-best .slide-best-description {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.swiper-slide-best .slide-best-text {
  display: none;
  font-size: 1.8rem;
}
.swiper-slide-best .slide-best-rate {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.4rem;
}
.swiper-slide-best .slide-best-rate .rate-star {
  margin: 0 5px;
}
.swiper-slide-best .slide-best-rate .rate-comments {
  color: #909090;
}
.swiper-slide-best .slide-best-price {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
}
.swiper-slide-best .slide-best-price .current-price {
  margin-right: 9px;
  font-size: 2rem;
  font-weight: 600;
}
.swiper-slide-best .slide-best-price .sale-price {
  font-size: 1.6rem;
  color: #909090;
  text-decoration: line-through;
}

@media (max-width: 600px) {
  .top {
    display: block;
  }
  .top .top-left__img {
    width: 100%;
    margin-bottom: 20px;
  }
  .right-top {
    display: none;
  }
  .button-wathc-all {
    display: none;
  }
  .main-top {
    margin-bottom: 20px;
  }
  .filter {
    margin-left: 0;
  }
  .category {
    display: flex;
  }
}/*# sourceMappingURL=style-brand-page.css.map */