.location {
   display: flex;
   align-items: center;
   font-size: 1.6rem;
   margin-bottom: calc(0.521vw + 10px); //20
   
   .location-slesh {
      margin: 0 5px;
   }

   .location-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}

.main {
   margin-top: 20px;
}

.main-title {
   margin-bottom: 30px;
}

.main-special__title {
   margin-bottom: 20px;
   font-size: 4rem;
   font-weight: 500;
   text-transform: uppercase;
}

.main-special {
   margin-bottom: 40px;
   max-width: 900px;
}

.main-title__description {
   font-size: 1.6rem;
   margin-bottom: 40px;
}

.main-sale {
   width: 100%;
   border-radius: 15px;
   border: 3px solid white;
   position: relative;
   overflow: hidden;
   height: 270px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: inset 0px 0px 8px 0px hsla(0, 0%, 100%, .15), 23px -17px 40px 0px rgba(0, 0, 0, .1);
   background: linear-gradient(180deg, rgba(31, 37, 39, 0) 40.865%, rgba(31, 37, 39, 0.25) 63.462%);
   margin-bottom: 30px;

   .main-sale__text {
      color: white;
      text-transform: uppercase;
      font-size: calc(1.563vw + 3rem); //60
      font-weight: 500;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
   }

   img {
      filter: blur(4px);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
      z-index: -1;
   }
}

.right-main__grid {
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media(max-width: 900px) {
   .right-main__grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2.222vw;//20
   }

   .swiper-slide-best {
      .slide-best-button {
         background-color: #f0eeee;

         .button-text {
            font-size: 1.3rem;
            text-align: center;
            line-height: 1.8;
            position: absolute;
            left: 40%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-left: 0;
         }
   
         .button-decor {
            display: none;
         }
   
         .button-arrow {
            width: 25px;
            height: 25px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
         }
      }
   }
}

@media(max-width: 720px) {
   .right-main__grid {
      grid-template-columns: 1fr 1fr 1fr;
   }
}
@media(max-width: 550px) {
   .right-main__grid {
      grid-template-columns: 1fr 1fr;
   }
}